#root {
  text-align: center;
}

.loginForm {
  min-width: 18em
}

.smallButton {
  font-size: 0.8em;
}

.inputText {
  font-size: 1.3em;
  width: 100%
}

button {
  margin: 0.5em;
}

header {
  background-color:RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
}